* {
    margin: 0;
    padding: 0;
    display: grid;
  }

  body {
    font-family: "Fira sans", Arial, Helvetica, sans-serif;
    margin: 0px;
    color: #141414;
  }

  h1 {
    font-size: 3rem;
  }
  
  h1,
  h2,
  h4,
  p {
    margin: 0px;
  }
  
  ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
  }

  #link-topo {
    text-decoration: none;
    color: white;
    background-color: brown;
    padding: 10px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    box-shadow: 3px 3px 10px #333;

  }

  .header {
    max-width: 1200px; /*Para definir um tamanho máximo para o site*/
    padding: 40px 20px; /* Para desgrudar da lateral e do topo (Elementos)*/
    margin: 0 auto; /*Para quando o site esticar os itens permanecerem ao centro*/
    display: flex; /* Pra deixar um ítem ao lado do outro*/
    justify-content: space-between; /*Para separar um ítem do outro*/
    align-items: center;
  }

  .header-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center; /*Na hora da quebra os itens ficam alinhados*/
  }
  
  .header-menu a {
    font-size: 1.125rem;
    line-height: 1.3; /*Altura de linha*/
    padding: 10px 20px;
    text-decoration: none;
    color: #141414;
    display: block; /*Para assumir corretamente os valores do Padding*/
  }

  section {
    max-width: 1200px;
    padding: 30px 20px;
    margin: 0 auto;
    display: flex;
    gap: 100px;
    flex-wrap: wrap;
  }

  section p {
    max-width: 1200px;
    padding: 20px 20px;
    margin: 0 auto;
    display: flex-start;
    gap: 100px;
  }

  section h2 {
    font-size: 2rem;
  }

  .aside {
   align-content:center;
   padding-left: 10px;
   padding-bottom: 20px;

    
  }




  